body {
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	position: sticky;
	padding: 0.5rem;
	margin-bottom: 1rem;
	margin: 0.5rem;
	padding: 0.5rem 10% 0.5rem;
	font-size: 15px;
}

body>nav>ul {
	list-style-type: none;
	text-align: right;
}

.nav-logo {
	float: left;
}

.nav {
	display: inline;
	margin: 0.5rem;
	font-weight: bold;
	
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 25px;
	padding: 0.8rem;
	border: 0;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 25px;
	padding: 0.5rem;
	width: 15%;
	border: 0;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 35vh;
	background-size: 100%;
	background-position: center;
}

.front-bg {
	background-color: black;
	opacity: 0.5;
	color: white;
}

.container {
	padding: 1rem 15% 3rem;
	text-align: right;

}

.title {
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: right;
	width: 70%;
	margin-left: 17rem;
}

.subtitle {
	font-weight: normal;
	font-size: 20px;
	margin: 1rem;
	color: white;
	text-align: right;
	width: 45%;
	margin-left: 30rem;
}

.title {
	font-family: 'Zilla Slab', serif;
}

.intro {
	padding: 0.5rem 15% 0.5rem;
}

.title-2 {
	font-family: 'Zilla Slab', serif;
	font-size: 30px;
	text-align: center;
	padding: 3rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.intro-description {
	text-align: left;
	font-size: 15px;
	margin-bottom: 3rem;
}

.prefooter-description {
	text-align: center;
	font-size: 15px;
	margin-bottom: 3rem;
}

.pre-footer {
	background-color: #f7fbfb;
	padding: 0.5rem 15% 0.5rem;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	font-size: 15px;
	border-radius: 25px;
	padding: 0.5rem;
	width: 15%;
	border: 0;
	text-align: center;
	margin-bottom: 1rem;
	margin-left: 22rem;
}

footer {
	text-align: center;
	font-size: 15px;
}